

.container{ 
    background-color: indigo;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    height: auto;
    width: 300px;
    text-align: center;
}

.product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
